body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 75px);
  grid-template-rows: repeat(15, 65px);
  grid-gap: 10px;
  padding: 10px;
}
.grid-item {
  border: 1px dotted rgba(199, 196, 196, 0.603);
  padding: 0px;
  font-size: 30px;
  text-align: center;
}

.button-no-table{
  width: 75px;
  height: 65px;
}

.reservations-header{
  display: flex;
  justify-content: space-between;
}

.report-date{
  margin-right: 10px;
}

.restaurant-name{  
  font-size:xx-large;
  font-weight:bolder;  
}

.user-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
